@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

@layer components {
  .custom-container {
    @apply w-full max-w-[1280px] mx-auto px-4;
  }
}


.geist{
  font-family: "Geist", sans-serif;
}
.syne{
    font-family: "Syne", sans-serif;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  animation: slideDown 3s ease-out forwards; 

  z-index: 90;

}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


.button{
  position: relative;
  overflow: hidden;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.button::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(244, 197, 25, 0.573), transparent) ;
  z-index: -1;
}

.button:hover::before{
  animation: swipe 2s linear infinite;
}

@keyframes swipe {
  to{
    left:100%
  }
}